@{
    ViewBag.Title = "Survey not required";
    ViewBag.MenuSection = "survey-menu";
}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>@ViewBag.Title</h2>
                @{
                    <strong>You do not need to complete a survey at this time. You will receive an email when your next survey becomes available.</strong>
                }
            </div>
        </div>
    </div>
</div>