@{
    ViewBag.Title = "Site not known";
    ViewBag.MenuSection = "home-menu";
}

<h2>@ViewBag.Title</h2>
<strong>Your user profile is not tied to a specific site at present. Please contact the support point to resolve this.</strong>