@using Booker.WebUI.Extensions
@using Booker.WebUI.Helpers
@model Booker.WebUI.Models.WorkOrderModel
<a id="JobDetails"></a>
<table id="work-order-summary" class="clicktable responsive default-bottom-margin">
    <thead>
        <tr>
            <th>Work Order Ref</th>
            @if (Model.JobRef != 0)
            {
                <th>Job Ref</th>
                <th>Site</th>
                <th>Job Date</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.TextOrEmptyString(Model.WorkOrderRef)</td>
            @if(Model.JobRef != 0)
            {
                <td>@string.Format("{0:0}", Model.JobRef)</td>
                <td>@Html.TextOrEmptyString(Model.SiteName)</td>
                <td>@Html.TextOrEmptyString(Model.AlarmDate.ToCurrentCultureDateTime())</td>
            }
        </tr>
    </tbody>
    <tfoot>
    </tfoot>
</table>
