@using Booker.WebUI.Helpers
@model Booker.WebUI.Models.UploadFileViewModel

@{
    ViewBag.Title = "Upload credit note document";
    ViewBag.MenuSection = "invoices-menu";
}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Upload @Html.CreditNoteDocumentTypeText(Model.UploadType)</h2>
                <p>Choose the file to upload and then click on the Upload File button.</p>
                @using (Html.BeginForm("UploadCreditNoteDocument", "Supplier", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Partial("_UploadFileFields", Model)
                    <input type="submit" value="Upload File" class="btn btn-primary" />
                }
                <div class="default-top-margin clear-fix">
                    <hr />
                    @Html.ActionLink("<< Back to Credit Note", "CreditNote", "Supplier", new { workOrderRef = Model.UploadRef }, null)
                </div>
            </div>
        </div>
    </div>
</div>