@model Booker.WebUI.Models.QuoteLineModel

<p class="validation-summary-errors form-text center-text">Are you sure you want to delete the following quote line?</p>
    
<div class="readonly">
    @Html.Partial("_QuoteLine", Model)
</div>