@model Booker.WebUI.Models.CreditNoteLineModel

<p class="validation-summary-errors form-text center-text">Are you sure you want to delete the following creditNote line?</p>
    
<div class="readonly">
    @Html.Partial("_CreditNoteLine", Model)
</div>