@using (@Html.BeginForm(null, null, FormMethod.Post, new { @class = "", id = "frmSite", name = "frmSite" }))
{@Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "Please fix these errors.");

    <div id="serverSideValidationContainer" class="hide default-bottom-margin"></div>
    <button id="addBtn" class="btn btn-sm btn-warning" onclick="LoadSitePartial(); return false; ">
        <span class="glyphicon glyphicon-plus-sign"></span> Site
    </button>
    
    

    <div class="row">
        <div class="col-xs-12">
            <br />
            <table id="templateSite" class=" table-responsive hide">
                <tr>
                    <th class="col-sm-1"></th>
                    <th class="col-sm-2">Site Name</th>
                    <th class="col-sm-2">Address Line 1</th>
                    <th class="col-sm-2">Address Line 2</th>
                    <th class="col-sm-1">City</th>
                    <th class="col-sm-1">Post Code</th>
                    <th class="col-sm-1"> (Type & Size Indicator) </th>
                    <th class="col-sm-1"></th>
                </tr>
                
            </table>
            <br /><br />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="existingContactPanel" class="hide ">
                <span class="col-xs-2">
                    <button id="addContactBtn" class="btn btn-sm btn-warning default-top-margin-6px " onclick="LoadContactPartial(); return false; ">
                        <span class="glyphicon glyphicon-plus-sign"></span> Contact
                    </button>
                </span>
                <span class="col-xs-5">
                    @Html.DropDownList("ExistingContacts", ViewBag.MemberExistingSiteContacts as List<SelectListItem>, new { @class = "form-control" })
                </span>
                <span>
                    <button type="button" class="btn btn-sm btn-success btnAddExistingContactToSite default-top-margin-6px" value="Add" onclick="AddExistingContactToSite();return false;">
                        <span class="glyphicon glyphicon-plus "></span> Add
                    </button> @Html.Raw("&nbsp;")


                </span>


            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10">

            <br />
            <table id="templateSiteContact" class=" table-responsive default-top-margin hide" title="">
                <tr>

                    <th>Name</th>
                    <th>Number</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th></th>
                  
                </tr>
            </table>
        </div>
    </div>

    <div id="dialog" class="hide" title="saved">
        <p>Successfully saved!</p>
    </div>

}
