@using MvcReportViewer
@{
    string reportName = string.Empty;
    if (!string.IsNullOrEmpty(ViewBag.ReportName))
    {
        reportName = ViewBag.FolderPath + ViewBag.ReportName.ToString();
    }
}

@if (!string.IsNullOrEmpty(reportName))
{
    <div id="reportContainer" class="row ">
        @Html.MvcReportViewer(@reportName,
            new { Height = 600, Width = 1150, style = "border:none;" })
    </div>
}
