@model Booker.Data.Entities.HelpdeskFault
@{
    ViewBag.Title = "RaiseQuery";
}

@using (Html.BeginForm("RaiseQuery", "SingleStoreLogin"))
{
    <h2>RaiseQuery</h2>
    <fieldset>
        <div>
            <div class="row">
                <div class="col-md-12 center-text">
                    <label>Show the details for this Job and allow Query to be raised if required</label>
                </div>
            </div>
            <div style="align-content: center">
                <div class="col-md-1">
                    @Html.LabelFor(model => model.ID)
                </div>
                <div class="col-md-1">
                    @Html.TextBoxFor(model => model.ID, new { @readonly = "readonly", @id = "faultId", @class = "TextBoxAsLabel" })
                </div>
            </div>
        </div>
    </fieldset>
}
