@model Booker.WebUI.Models.QuotesQueryAnswered.QueryAnsweredViewModel
@{
    ViewBag.Title = "Quotes with Query Response";
    ViewBag.MenuSection = "quotes-menu";
}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="tablesPage">@ViewBag.Title</h2>

                <table id="query-responded-table" class="responsive clicktable" data-empty-table="There are no quote query responses">
                    <thead>
                        <tr>
                            <th>Job Ref</th>
                            <th>Date Responded</th>
                            <th>Description</th>
                            <th>Value (£)</th>
                            <th>Supplier</th>
                            <th>Query</th>
                            <th>Query Reason</th>
                            <th>Query Response</th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.Partial("_QueryAnsweredRows", Model.Quotes)
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jquerydatatables")
}
