@{
    ViewBag.Title = String.Format("Member Quote- {0}", Booker.Common.CompanyStrings.ShortName);
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Quote Successfull!</h2>
                <div class="shield hidden-xs">
                    <img src="~/Content/images/shield.png" />
                </div>
                <div>
                    <p class="lead">
                        A quote has been successfully generated!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        var win = window.open('http://vm-rs-coms01/ReportServer/Pages/ReportViewer.aspx?%2fBooker+Safe+And+Legal%2fPackage+Quote&rs:Command=Render&QuoteID='+@ViewBag.QuoteId, '_blank');
        if (win) {
            //Browser has allowed it to be opened
            win.focus();
        } else {
            //Broswer has blocked it
            alert('Please allow popups for this site');
        }

    });

    //Code Ends
</script>