@{
    ViewBag.Title = String.Format("Signup Successful - {0}", Booker.Common.CompanyStrings.ShortName);
}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Signup Successfull!</h2>
                <div class="shield hidden-xs">
                    <img src="~/Content/images/shield.png" />
                </div>
                <div>
                    <p class="lead">
                        Signup Process has been sucessfully completed.
                    </p>
                    </div>
            </div>
        </div>
    </div>
</div>