@model Booker.WebUI.Models.QuoteLineModel

@{
    Layout = null;
}

@if (Model != null)
{
    @Html.Partial("_QuoteLine", Model)
}
else
{
  <p class="center-text">Sorry, a quote line could not be created.</p>
}